/* ==========================================================================
   Overall Page Grid Layout
========================================================================== */

.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 4fr 4fr 6rem;
    grid-template-columns: 1fr;
    height: 250vh;
    gap: 3rem; 
}

/* Overall Grid Sub-item IDs */

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

/* ==========================================================================
   Header Grid Layout
========================================================================== */

.header-grid-container {
    display: grid;
    grid-template-areas:
    "name navlinks"
    "hero hero";
    grid-template-rows: 1fr 7fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

/* Header Grid Sub-item IDs */

#name {
    grid-area: name;
    place-self: center start;
    padding-left: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

#navlinks {
    grid-area: navlinks;
}

#hero {
    grid-area: hero;
    display: grid;
}

#hero img {
    width: clamp(200px, 35vw + 1rem, 600px);
    place-self: center;
}

/* Navigation Links Flex Layout
========================================================================== */

.nav-flex-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#navlinks ul {
    height: 100%;
}

/* ==========================================================================
   Main Grid Layout
========================================================================== */

.main-grid-container {
    display: grid;
    grid-template-areas:
    "about projects"
    "contact projects"
    "tech tech";
    grid-template-rows: repeat(2, 3fr) 1fr;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    width: 90%;
    margin: auto;
    gap: 3rem;
}

/* Main Grid Sub-item IDs */

#about {
    grid-area: about;
}

#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
}

#tech {
    grid-area: tech;
}

/* About Section Grid Layout
========================================================================== */

.about-grid-container {
    display: grid;
    grid-template-areas:
    "about-card-title"
    "about-card-text1"
    " about-card-text2";
    grid-template-rows: 10rem 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    width: 80%;
    margin: auto;
    gap: 1rem;
    place-items: center;
    text-align: center;
}

/* About Section Grid Sub-item IDs */

#about-card-title {
    grid-area: about-card-title;
}

#about-card-text1 {
    grid-area: about-card-text1;
}

#about-card-text2 {
    grid-area: about-card-text2;
}

/* Projects Section Grid Layout
========================================================================== */

.projects-grid-container {
    display: grid;
    grid-template-areas:
    "projects-card-title projects-card-title"
    "void-warrior void-warrior"
    "wheel-strategy volume-calc"
    "reseller-tool horiseon";
    grid-template-rows: 10rem 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 80%;
    margin: auto;
    gap: 3rem;
    place-items: center;
    text-align: center;
}

/* Projects Section Grid Sub-item IDs */

#projects-card-title {
    grid-area: projects-card-title;
}

#void-warrior {
    grid-area: void-warrior;
}

#wheel-strategy {
    grid-area: wheel-strategy;
}

#reseller-tool {
    grid-area: reseller-tool;
}

#horiseon {
    grid-area: horiseon;
}

/* Projects Images Sizing */

.project-card img {
    width: clamp(200px, 15vw + 1rem, 400px);
}

#void-warrior img {
    width: clamp(225px, 25vw + 1rem, 600px);
}

/* Contact Section Grid Layout
========================================================================== */

.contact-grid-container {
    display: grid;
    grid-template-areas:
    "contact-heading contact-heading"
    "email twitter"
    "github linkedin";
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 80%;
    margin: auto;
    place-items: center;
    text-align: center;
}

.contact-grid-container .contact-link {
    place-self: start center;
}

/* Contact Section Grid Sub-item IDs */

#contact-heading {
    grid-area: contact-heading;
}

#email {
    grid-area: email;
}

#github {
    grid-area: github;
}

#linkedin {
    grid-area: linkedin;
}

#twitter {
    grid-area: twitter;
}

/* Contact Section Icon Scaling */

.contact-link img {
    width: clamp(100px, 10vw + 1rem, 200px);
}

/* Tech Section Flex Layout
========================================================================== */

.tech-flex-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: 3rem;
    padding-bottom: 1rem;
}

#tech h2 {
    text-align: center;
}

/* Tech Section Icon Scaling */

.tech-flex-container img {
    width: clamp(50px, 10vw + 1rem, 150px);
}

/* ==========================================================================
   Footer Flex Layout
========================================================================== */

.footer-flex-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}