/* ==========================================================================
   Screen Width Below 1710px    note: this query is here to address a scaling
                                    issue with the tech section flex container 
========================================================================== */

@media only screen and (max-width: 1710px) {

/*
   Main Grid Layout
========================================================================== */

    .main-grid-container {
        grid-template-rows: repeat(2, 2fr) 1fr;
    }

}

/* ==========================================================================
   Screen Width Below 1000px
========================================================================== */

@media only screen and (max-width: 1100px) {

    /* Header Grid Layout
========================================================================== */

    .header-grid-container {
        grid-template-areas:
        "name"
        "navlinks"
        "hero";
        grid-template-rows: 1fr 1fr 7fr;
        grid-template-columns: 1fr;
    }

    #name {
        place-self: center;
        padding-left: 1rem;
    }

/* Projects Section Grid Layout
========================================================================== */

    .projects-grid-container {
        grid-template-areas:
        "projects-card-title"
        "void-warrior"
        "wheel-strategy"
        "volume-calc"
        "reseller-tool"
        "horiseon";
        grid-template-rows: 10rem repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
    }    

}

/* ==========================================================================
   Screen Width Below 768px
========================================================================== */

@media only screen and (max-width: 768px) {

    /* Contact Section Grid Layout
========================================================================== */

    .contact-grid-container {
        grid-template-areas:
        "contact-heading"
        "email"
        "twitter"
        "github"
        "linkedin";
        grid-template-rows: 2fr repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .contact-grid-container .contact-link {
        place-self: start center;
    }

}

/* ==========================================================================
   Screen Width Below 576px
========================================================================== */

@media only screen and (max-width: 576px) {

/*
   Main Grid Layout
========================================================================== */

    .main-grid-container {
        display: grid;
        grid-template-areas:
        "about"
        "projects"
        "contact"
        "tech";
        grid-template-rows: 2fr 5fr 2fr 1fr;
        grid-template-columns: 1fr;
    }

}